.flex-start {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
  }

  mat-grid-list {
    width: 100%;
    height: auto;
  }

  .example-card {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .margin-datatable{
    margin-left: 10px;
    margin-right: 10px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }