.example-card {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  mat-grid-list {
    width: 100%;
    height: auto;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .flex-start {
    position: absolute;
    left: 0px;
    top: 20px;
 
  }
  .color-in-accordion{
    background-color: white;
  }
  .color-accordion{
    background-color: #f5f5f5;
  }
  mat-grid-list {
    width: 100%;
  }