<mat-toolbar>
  <nav>
    <a routerLink="/home"><span>Profil</span></a>
  </nav>
  <span class="example-spacer"></span>
  <a routerLink="/login">
    Version 1.0.0
  </a>

</mat-toolbar>
<p style="margin-left: 20px;">Audi 31907 - D'IETEREN S.A - T:0 - 0 / 0</p>
<mat-grid-list cols="2" rowHeight="300">
  <mat-grid-tile>
    <div class="flex-start">
      <mat-card class="example-card">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend tempor lorem, eu imperdiet risus rhoncus sed. Suspendisse aliquam lacus in lacinia convallis. Praesent consectetur mattis mi, vel venenatis est fringilla eu. Vestibulum id tellus ligula. Nunc at nunc tristique, auctor mi quis, pharetra lorem.
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>


  </mat-grid-tile>
  <mat-grid-tile>
    <div class="flex-start">
      <mat-card class="example-card">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend tempor lorem, eu imperdiet risus rhoncus sed. Suspendisse aliquam lacus in lacinia convallis. Praesent consectetur mattis mi, vel venenatis est fringilla eu. Vestibulum id tellus ligula. Nunc at nunc tristique, auctor mi quis, pharetra lorem.
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="400">
  <p style="margin-left: 20px;">mots clés (3x)</p>
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
      class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" style="text-align: center;" (click)="accordionItem.toggle()">

        <mat-grid-list cols="1" rowHeight="30" class="color-in-accordion" style="background-color: transparent;">
          <mat-grid-tile>
            {{item}}
          </mat-grid-tile>
        </mat-grid-list>
        <!-- <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span> -->
      </div>
      <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
        <div>
          <!-- <p>{{item.name}}</p> -->
          <mat-grid-list cols="2" rowHeight="30" class="color-in-accordion">
            <mat-grid-tile>
              <p>{{item}}</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>{{item}}</p>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>

  <!-- <mat-expansion-panel *ngFor="let item of dataList">
    
        <mat-expansion-panel-header>
     
          <mat-grid-list cols="1" rowHeight="40">
            <mat-grid-tile colspan="1" class="color-accordion">{{item.name}}</mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="30" class="color-in-accordion">
            <mat-grid-tile>
                <p>{{item.name}}</p>
            </mat-grid-tile>
            <mat-grid-tile>
                <p>{{item.symbol}}</p>
            </mat-grid-tile>
            
        </mat-grid-list>
       
      </mat-expansion-panel> -->
</mat-grid-list>