
<!-- <div height="20px">
<mat-form-field appearance="outline" height="20px">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings">
      <mat-option *ngFor="let topping of toppingList" [value]="topping"
        >{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
<mat-form-field class="custom-mat-form-field" floatLabel="always">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings">
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
    </mat-select>
  </mat-form-field>


